* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color :black;
}

body{
    margin: 0 5px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: brown;
    background-color: rgba(128, 128, 128, 0.4);
}

.title {
    font-size: 50px;
}

.container{
    margin-top: 20px;

}

.hidden{
    text-align: center;
    color: red;
    background-color: rgba(128, 128, 128, 0.4);
    font-weight: bold;
    margin-bottom: 10px;
}

/* .sub-ttl{

} */

.tasks{
    margin: 5px 0;
}

.task{
padding: 5px;
}

.list-content{
    display: flex;
    justify-content: space-between;
}

/* .up-down{
    display: flex;
    flex-direction: column;
} */

.left-content{
    display: flex;
    align-items: center;
}

.up, .down{
    display: block;
}

.img-up-down{
    width: 15px;
}

.desc{
    padding-left: 10px;
}

.links{
    display: flex;
    align-items: center;
    gap: 10px;
}

.new-task, .content-btn{
    text-align: right;
    margin-top: 10px;
}

.link-new-task, .btn-return{
    padding: 3px;
    border-radius: 5px;
    border: solid rgba(128, 128, 128, 0.6) 2px;
    text-decoration: none;
    color: black;
    background-color: rgba(128, 128, 128, 0.4);
    box-shadow: 3px 3px 10px grey;
}

.form{
    background-color: rgba(128, 128, 128, 0.3);
}

.field{
    padding: 10px;
}

.label{
    display: block;
    font-size: 18px;
}

.input{
    display: block;
    width: 100%;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
}

.form-err{
    color: red;
}